html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.content-box {
    margin: 40px auto;
    padding: 10px;
    background-color: rgb(171, 154, 154, 0.8);
    width: 90%;
}

h1
{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: fantasy;
}

blockquote {
    text-align: right;
}

section {
    padding-left: 15px;
    padding-top: 20px;
}